<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Vue.js ++ Spectre.css</title>
    <link rel="stylesheet" href="css/spectre.min.css">
    <link rel="stylesheet" href="css/spectre-exp.min.css">
    <link rel="stylesheet" href="css/spectre-icons.min.css">
    <link rel="stylesheet" href="css/custom.css">
</head>

<body>
    <section class="main">
        <div class="bg-gray text-center p-2 title text-bold">
            <h2>Simple To-do List</h2>
            <p>Spectre.css ++ Vue.js.</p>
        </div>
        <section id="app">
            <div class="container">
                <div class="columns col-gapless">
                    <div class="column col-2 col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                    <div class="column col-2 hide-xs hide-sm col-md-3 col-lg-3 col-xl-3">
                        <ul class="menu">
                            <li class="menu-item">
                                <div class="tile tile-centered">
                                    <div class="tile-icon">
                                        <img src="img/avatar.jpg" class="avatar" alt="Avatar">
                                    </div>
                                    <div class="tile-content">
                                        User name
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <div id="menu_items">
                                <li class="menu-item">
                                    <div class="menu-badge">
                                        <label class="label label-primary">2</label>
                                    </div>
                                    <a href="#"><i class="icon icon-link"></i> Settings </a>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <div class="column col-6 col-xs-10 col-sm-10 col-md-7 col-lg-7 col-xl-7">
                        <div class="card outer-shadow">
                            <div class="card-header">
                                <div class="card-title h5">Today</div>
                                <div class="card-subtitle text-gray">{{today}}</div>
                            </div>
                            <div class="card-body">
                                <input @keyup.enter="addTask" v-model="newTask" type="text" class="form-input" placeholder="Put a new task here">
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-default" v-on:click="addTask"><i class="icon icon-plus"></i> Add new task</button>
                            </div>
                        </div>
                        <div class="card outer-shadow">
                            <table class="table table-striped table-hover">
                                <tbody>
                                    <tr v-for="todo in todos">
                                        <td>
                                            <div class="form-group">
                                                <i class="form-icon"></i> {{todo.text}}
                                            </div>
                                        </td>
                                        <td class="clearfix float-right">
                                            <button v-bind:title="hint_complete" class="btn btn-action circle bg-success"><i class="icon icon-check"></i></button>
                                            <button v-bind:title="hint_edit" class="btn btn-action circle"><i class="icon icon-edit"></i></button>
                                            <button v-bind:title="hint_delete" class="btn btn-action"><i class="icon icon-delete"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="card-footer centered">
                                <div class="card-subtitle textdarkgray">
                                    developed by <a target="_blank" class="text-bold" href="https://github.com/lgdagostim">LGDAGOSTIM</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column col-2 col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                </div>
            </div>
        </section>
    </section>
</body>
<!--<script src="https://unpkg.com/vue"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/app.js"></script>

</html>
